    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/Material/MaterialIcons-Regular.eot');
        src: local("Material Icons"),
          local('MaterialIcons-Regular'),
          url('../fonts/Material/MaterialIcons-Regular.woff2') format('woff2'),
          url('../fonts/Material/MaterialIcons-Regular.woff') format('woff'),
          url('../fonts/Material/MaterialIcons-Regular.ttf') format('truetype'),
          url('../fonts/Material/MaterialIcons-Regular.svg') format("svg")
      }

      body, input {font-family: Agency FB;}
      .workArea {width: 640px; height: 480px; display: inline-block; position:relative;}
      .viewport {z-index: 1;position: relative;height: 100%;width: 100%; transition: 0.2s}
      .viewport:hover {cursor: grab; box-shadow: black 0px 0px 8px;}
      .viewport:active {cursor: grabbing; box-shadow: black 0px 0px 8px;}
      .verticalPanel {z-index: 2; position: absolute; width: 24px; right: 2px; top: 6px; height: 100%;}
      .notification {position: absolute; z-index: 3; background: white; width: 100%; box-shadow:inset grey 0px 0px 0px 1px; padding: 4px 0px 4px 0px; transition: 0.2s; display: none;}
      input[type=range][orient=vertical] {outline: 0; padding: 0; -webkit-appearance: slider-vertical;  writing-mode: bt-lr; width: 20px; cursor: pointer; opacity: 0.4; transition: 0.2s}
      input[type=button] {outline: 0; padding: 0px 17px 0px 0px; display: block; width: 20px; cursor: pointer; opacity: 0.4; transition: 0.2s; font-family: Material Icons; font-size: 16px;}
      input[type=button]:hover, input[type=range]:hover {opacity: 1}
      input::-moz-focus-inner {border: 0; outline: 0;}
      .FPS {background: green; padding: 0px 2px 0px 2px; color: white; margin: 0px 3px 10px 0px; font-weight: normal; font-size: small; display: block}
